*{
  padding: 0;
  margin: 0;
  border: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active {
  outline: none;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
    //font-family: monospace;
    //font-family: "Mukta", sans-serif;
    font-family: "Raleway", sans-serif;
}
input, button, textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a, a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}
html {
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
/* --------------------------------------- */
[class$=__container] {
  max-width: 1630px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.text--h1 {
  font-size: 60px;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
}
.text--link {
  font-size: 18px;
  font-weight: 500;
}
.text--title {
  font-size: 24px;
  font-family: "Mukta", sans-serif;
  font-weight: 700;
}
.text--normal {
  font-size: 18px;
  font-weight: normal;
  line-height: 120%;
}
.text--logo {
  font-size: 30px;
  font-weight: 600;
}
.header {
  padding: 25px 0px;
  border-bottom: 1px solid rebeccapurple;
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      
    }
    .header__menu {
      ul {
        display: flex;
        gap: 30px;
        align-items: center;
      }
    }
  }
}
.main {
  .hero {
    width: 100%;
    height: calc(100vh - 81px);
    background-color: palevioletred;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .hero__title {
      margin-bottom: 60px;
    }
    .hero__about {
      display: flex;
      gap: 30px;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .hero__items {
        display: flex;
        gap: 20px;
        align-items: start;
        max-width: 500px;
      }
    }
    .hero__scanlink {
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
      a {
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgb(255, 35, 79);
        color: white;
        font-size: 30px;
        line-height: 0%;
        position: relative;
        img {
          width: 50%;
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
.footer {
  padding: 20px 0px;
  border-top: 1px solid rebeccapurple;
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    .footer__logo {
      font-size: 20px;
    }
    .footer__pp {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

